<!--<footer class="copyright py-2 text-center text-white">-->
<!--  <div class="container text-center">-->
<!--    <small>Copyright &copy; Jbugger 2018</small>-->
<!--  </div>-->
<!--</footer>-->

<!--<footer class="bg-dark text-center mb-0" style="height: 60px;padding-top: 15px; position: fixed; bottom: 0px;width: 100%;">-->
<footer class="bg-dark text-center mb-0" style="height: 60px; bottom: 0px; width: 100%;">
  <p class="text-white">&copy; All rights reserved for <i>Announcement Collector</i> 2019</p>
</footer>
