<div class="container vertical-center">
  <div class="container-fluid text-center justify-content-center">
    <h5>What we offer:</h5>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="font-awesome-size"><i class="fa fa-bullhorn" style="color:green"></i></p>
        <h4>ANNOUNCEMENTS</h4>
        <p>Our server collects all real estate announcements</p>
      </div>
      <div class="col-sm-4">
        <p class="font-awesome-size"><i class="fa fa-line-chart" style="color:green"></i></p>
        <h4>MARKET STATISTICS</h4>
        <p>We analyse deliver statistics real time</p>
      </div>
      <div class="col-sm-4">
        <p class="font-awesome-size"><i class="fa fa-filter" style="color:green"></i></p>
        <h4>CLIENT-FOCUSED</h4>
        <p>We take into account all your preferenes</p>
      </div>
    </div>
  </div>
</div>


