.announcement:focus {
  outline: none;
  border: 0;
}

.announcement:hover {
  cursor: pointer;
}

.fa-thumbs-up:hover {
  color: green;
  cursor: pointer;
}

.fa-thumbs-down:hover {
  color: #96060d;
  cursor: pointer;
}

.liked {
  color: green;
  font-weight: bold;
}
