.site {
  min-height: 100vh;
  position: relative;
}

.header {
  height: 56px;
  z-index: 999;
  position: relative;
}
.navbar{
  z-index: 99999999;
}
.content {
  margin-top: -56px;
  padding-top: 56px;
  margin-bottom: -60px;
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
}

.navbar-nav > li {
  margin-left:30px;
  margin-right:30px;
}
