.header {
  height: 56px;
}

.content {
  min-height: 100%;
  height: auto !important;
  margin-top: -56px;
  padding-top: 56px;
  margin-bottom: -60px;
  padding-bottom: 60px;
}

.footer {
  height: 60px;
}

.navbar-nav > li {
  margin-left:30px;
  margin-right:30px;
}
